#map
{
  width: 100vw;
  height: 100vh;
  position:relative;
  display: inline;
}

.player
{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 32px;
  height:32px;
  /*background:url(http://projetpsp.free.fr/anim_playeradvance/zelda.png);*/
  background: url("media/link.png");
  position: absolute;
  transition: .2s ease;
  animation: moving 0.3s steps(3) infinite;
  z-index: 1000;
}

@keyframes moving 
{
  0% {background-position: 0 -96px;}
  100% {background-position: -192px -96px;}
}

.goLeft
{
  animation: left 0.3s steps(3) infinite;
}

@keyframes left
{
    from {background-position: 0 -32px}
    to {background-position: -192px -32px;}
}

.goUp
{
  animation: up 0.3s steps(3) infinite;
}

@keyframes up
{
  from {background-position: 0  0}
  to {background-position: -192px 0}
}

.goDown
{
  animation: down 0.3s steps(3) infinite;
}

@keyframes down
{
  0% {background-position: 0 -64px;}
  100% {background-position: -192px -64px;}
}
div
{
  display: inline;
}
